<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">珠峰博客</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">首页 </a></li>
                <%
                if(user){
                %> <li><a href="#">发表文章</a></li><%
                }
                %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%
                if(user){
                %> <li><%=user.username%>&nbsp;<a href="/user/logout">退出</a></li><%
                }else{
                %> <li><a href="/user/login">登录</a></li>
                <li><a href="/user/reg">注册</a></li>
                <%
                }
                %>
            </ul>
        </div>
    </div>
</nav>
<%
if(locals.error){
%>
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%=locals.error%>
</div>
<%
}
if(locals.success){
%>
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <%=locals.success%>
</div>
<%
}
%>
