<!DOCTYPE html>
<html>
<%- include('../include/header.html')%>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<body>
<%- include('../include/nav.html')%>
<div class="container-fluid">
    <h1><%= article.title %></h1>
    <p><%- article.content %></p>
</div>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%= article.id %>" data-title="<%= article.title %>" data-url="http://localhost:8080/article/view/<%= article.id %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"zfblog2"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->

</body>
<script>
    $('pre code').each(function(){
        $(this).addClass('javascript');
        $(this).closest('pre').addClass('highlight');
    });
    hljs.initHighlightingOnLoad();
</script>
</html>